<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>scanning</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding has-header">  

<input #fileinput type="file" accept="image/*;capture=camera" hidden
(change)="handleFile($event.target.files)">


<ion-button expand="full" (click)="captureImage()">
  <ion-icon slot="start" name="camera"></ion-icon>
  capture image
</ion-button>

<ion-button expand="full" (click)="startScan()">
  <ion-icon slot="start" name="qr-scanner"></ion-icon>
  Start Scan
</ion-button>

<ion-button expand="full" (click)="reset()" color="warning" *ngIf="scanResult">
  <ion-icon slot="start" name="refresh"></ion-icon>
  Reset
</ion-button>

<video #video [hidden]="!scanActive" widt="100%"></video>
<canvas #canvas hidden></canvas>


<ion-button expand="full" (click)="stopScan()" color="danger" *ngIf="scanActive">
  <ion-icon slot="start" name="refresh"></ion-icon>
  Stop Scan 
  </ion-button>

  <ion-card *ngIf="scanResult">
    <ion-card-header>
      <ion-card-title> QR Code</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ scanResult}}
      </ion-card-content>
  </ion-card>


</ion-content>
