<ion-header>
  <ion-toolbar>
    <ion-title>create-qrcode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="text" placholder="My QRcode" [(ngModel)]="qrData"></ion-input>
  </ion-item>
  <ion-button (click)="create()">Buat QR code</ion-button>
  <ion-button (click)= "end" routerLink="/scanning">
    Scaning</ion-button>

  <ion-card *ngIf="createdCode">
    <ngx-qrcode [value]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>Value : {{createdCode}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="scannerCode">

    <ngx-qrcode [value]="scannerCode"></ngx-qrcode>
    <ion-card-content>
      <p>Value : {{scannerCode}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>