<ion-content>  
  <div class="login-bg">
    <ion-img src="assets/img/logonya.png"></ion-img>
  </div>

  <ion-grid class="grid">
	   
	<ion-row>
    	<ion-col>
      		
			
			<ion-list class="list-login">

        
				<ion-item>
          <div color="secondary"  slot="start">
            <ion-icon slot="icon-only" name="person"></ion-icon>
          </div>
					<ion-label position="floating">Username</ion-label>
					<ion-input required type="text" class="login-input" [(ngModel)]="user.email" ></ion-input>
				</ion-item>
				  
				<ion-item>
          <div color="secondary"  slot="start">
            <ion-icon slot="icon-only" name="lock-closed"></ion-icon>
        </div>
    				<ion-label position="floating">Password</ion-label>
    				<ion-input required type="password" class="login-input" [(ngModel)]="user.password"></ion-input>
      			</ion-item>
        </ion-list>
        
        
        
        <ion-text><a class="a-login" (click)="lupasandi()">Lupa Password ?</a></ion-text>
	
			<ion-button class="login-button" color="success" (click)="login()" [disabled]="loading"> {{loading ? 'Tunggu...': 'Login'}}</ion-button>

			<button class="btn-admin" type="submit"routerLink="admin/login">Login Admin</button>
  		</ion-col>
	</ion-row>
  
  </ion-grid>

  <div class="login-daftar">Belum Punya Akun? <a (click)="register()">Registrasi</a></div>

</ion-content>