.login-bg {
    position: relative;
    margin: auto;
    padding-top: 135px;
    padding-bottom: 10px;
    width: 170px;
  }
  
  * {
    font-family: "Poppins", sans-serif;
  }
  
  .grid {
    width: 240px;
    margin-left: auto;
  }
  
  .login-button {
    position: relative;
    margin-top: 20px;
    width: 230px;
    font-size: 14px;
    margin-left: -7px;
  }
  
  h2 {
    font-family: Footlight MT Light;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.48em;
    text-align: center;
    margin-left: 10px;
    color: #18c718;
  }
  
  .list-login {
    margin-left: -22px;
  }
  
  .login-input {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }
  
  .a-login {
    font-size: 14px;
    margin-left: -7px;
    margin-top: 5px;
  }
  
  .a-daftar {
    font-size: 14px;
    position: relative;
    margin-bottom: 10px;
  }
  
  .login-daftar {
    margin: 130px 100px 20px 100px;
  }