.header {
  display: flex;
  margin-top: 50px;
  align-items: center;
  margin-bottom: 15px;
}

.header ion-icon {
  font-size: 24px;
  margin-left: 25px;
}

* {
  font-family: "Poppins";
}

.header h2 {
  font-size: 30px;
  margin: auto;
  font-weight: 600;
  font-family: "Poppins";
}

.main {
  width: 320px;
  margin: auto;
}

.registrasi-input {
  border: 1px;
  border-color: none;
  border-radius: 18px;
}

.registrasi-nama {
  margin-top: -2px;
}

.main a {
  display: flex;
  margin: auto;
  height: 55px;
  border-radius: 18px;
  width: 300px;
  margin-top: 16px;
  border: none;
  background-color: #1e57f1;
  color: white;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
