
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header style="text-align: center;">
      <ion-title>Lupa Password</ion-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-button class="ion-margin-top" (click)="resetPassword()" [disabled]="loading">{{loading ? 'Tunggu...':'Kirim'}}</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
