<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rekap">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Rekap</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jadwal">
      <ion-icon name="time"></ion-icon>
      <ion-label>Jadwal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
