<ion-header [translucent]="true">
  <ion-toolbar color="success">

    <ion-title>Home</ion-title>
    <ion-button slot="end" routerLink="/create-qrcode">
      +
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="padding has-header">     
         <ion-list>
        <ion-list-header><h1>Silahkan Masukan Absen</h1></ion-list-header>
        <ion-item>
          <ion-label><h1>Nama Lengkap :</h1></ion-label>
            <ion-input [(ngModel)] ="data.nama"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label><h1>Mata Pelajaran :</h1></ion-label>
            <ion-input [(ngModel)] ="data.matapelajaran"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label><h1>Hari :</h1></ion-label>
            <ion-input [(ngModel)] ="data.hari"></ion-input>
          </ion-item>
           <ion-item>
            <ion-label><h1>Tanggal :</h1></ion-label>
            <ion-input [(ngModel)] ="data.tanggal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label><h1>Jam :</h1></ion-label>
            <ion-input [(ngModel)] ="data.jam"></ion-input>
          </ion-item>
           <ion-item>
            <ion-label><h1>Kelas :</h1></ion-label>
            <ion-input [(ngModel)] ="data.kelas"></ion-input>
          </ion-item>
          <ion-item>
          <ion-label><h1>No.Absen :</h1></ion-label>
            <ion-input [(ngModel)] ="data.Absen"></ion-input>
          </ion-item>
           <ion-buttons slot="end">
      <ion-button color="primary" (click)= "simpanKegiatan()" [(disabled)]="loading"> {{ loading ? 'Menyimpan..' : 'Simpan Absen'}}
      </ion-button>
    </ion-buttons>
</ion-list>
</ion-content>


