
<ion-content>
  <div class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
 <h2>Daftar Akun</h2>
  </div>

  <div class="main">
<ion-grid>
      <ion-row>
          <ion-col>
              <ion-item color="light" class="registrasi-input">
          <ion-label class="registrasi-nama" position="floating">Nama Lengkap</ion-label>
          <ion-input type="text" [(ngModel)]="user.fullname"></ion-input>
          </ion-item>
          </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
              <ion-item color="light" class="registrasi-input">
          <ion-label class="registrasi-nama" position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="user.email"></ion-input>
          </ion-item>
          </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
              <ion-item color="light" class="registrasi-input">
          <ion-label class="registrasi-nama" position="floating">Nomor Handphone</ion-label>
          <ion-input type="number" [(ngModel)]="user.nohp"></ion-input>
          </ion-item>
          </ion-col>
      </ion-row>
      
      <ion-row>
          <ion-col>
              <ion-item color="light" class="registrasi-input">
          <ion-label class="registrasi-nama" position="floating">Masukan Password</ion-label>
          <ion-input type="password" [(ngModel)]="user.password"></ion-input>
          </ion-item>
          </ion-col>
      </ion-row>
      
      <ion-row>
          <ion-col>
              <ion-item color="light" class="registrasi-input">
          <ion-label class="registrasi-nama" position="floating">Masukan Ulang Password</ion-label>
          <ion-input type="password" [(ngModel)]="user.password_check"></ion-input>
          </ion-item>
          </ion-col>
      </ion-row>
      
  </ion-grid>
  <ion-button color="success" (click)="daftar()" [disabled]="loading || user.password == undefined || user.password != user.password_check">{{loading ? 'Tunggu...':'Daftarkan Akun Sekarang'}}</ion-button>

  </div>
</ion-content>
